<main class="main-container">
<section>
  <div>
    <img class="parfume-img" src="/assets/product-preview-card-component-main/images/image-product-desktop.jpg" alt="">
  </div>
</section>
  <section>
  <div>
    <h1 class="header">Gabrielle Essence Eau De Parfum</h1>
    <p class="title-text">A floral, solar and voluptuous interpretation composed by Oliver Polge, Perfumer-Creator for the House of CHANEL.</p>
  </div>
  <div>
    <span class="pricing-big">$149.99</span>
    <span class="pricing-small">$169.99</span>
  </div>
  <button><img src="/assets/product-preview-card-component-main/images/icon-cart.svg" alt="cart image">add to cart</button>
</section>

</main>
