<main class="main-container">
  <main class="inner-small-container">
    <img alt="" class="parfume-img"
         src="/assets/product-preview-card-component-main/images/image-product-desktop.jpg">
    <section class="left-container">
      <div>
        <h1 class="header">Gabrielle Essence Eau De Parfum</h1>
        <p class="title-text">A floral, solar and voluptuous interpretation composed by Oliver Polge, Perfumer-Creator
          for the House of CHANEL.</p>
      </div>
      <div class="pricing-container">
        <span class="pricing-big">$149.99</span>
        <span class="pricing-small">$169.99</span>
      </div>
      <button class="cart-button"><img class="cart-image"
                                       src="/assets/product-preview-card-component-main/images/icon-cart.svg">Add to
        cart
      </button>
    </section>

  </main>
</main>
